@model Baby_Tracker.Models.Intervention

@{
    ViewData["Title"] = "Intervention";
    Layout = "_babyLayout";
}

<h4>Intervention Details</h4>
<p class="text-body">
    Oh shit baby is having a hard time sleeping! What steps are you going to take to get them back to sleep?
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <div class="p-4">
                <form asp-action="InterventionLanding">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FirstTry" class="control-label text-secondary" id="FirstDrop">@Html.DisplayNameFor(model => model.FirstTry)</label>
                        <select asp-for="FirstTry" asp-items="@Html.GetEnumSelectList<Sooth>()" class="form-control" id="FirstDrop"></select>
                        <span asp-validation-for="FirstTry" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SecondTry" class="control-label" id="SecondDrop">@Html.DisplayNameFor(model => model.SecondTry)</label>
                        <select asp-for="SecondTry" asp-items="@Html.GetEnumSelectList<Sooth>()" class="form-control" id="SecondDrop"></select>
                        <span asp-validation-for="SecondTry" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThirdTry" class="control-label" id="ThirdDrop">@Html.DisplayNameFor(model => model.ThirdTry)</label>
                        <select asp-for="ThirdTry" asp-items="@Html.GetEnumSelectList<Sooth>()" class="form-control" id="ThirdDrop"></select>
                        <span asp-validation-for="ThirdTry" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FourthTry" class="control-label" id="FourthDrop">@Html.DisplayNameFor(model => model.FourthTry)</label>
                        <select asp-for="FourthTry" asp-items="@Html.GetEnumSelectList<Sooth>()" class="form-control" id="FourthDrop"></select>
                        <span asp-validation-for="FourthTry" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="End Intervention" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a  asp-controller="Sleep" asp-action="SleepLanding" asp-route-id="@Model.SleepId">Back to Sleep Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
