@model Baby_Tracker.Models.Sleep

@{
    ViewData["Title"] = "Sleepy Time";
    Layout = "_BabyLayout";
}

<h4>Sleep Details</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SleepLanding">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SleepId" />
           
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNap" /> @Html.DisplayNameFor(model => model.IsNap)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="End Sleep" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <!--
    <div class="pl-3"></div>
    <div class="col-4-md">
        <div class="mr-2">
            <a class="btn btn-md btn-secondary" asp-controller="Feed"
               asp-action="StartFeed" asp-route-babyId="@Model.BabyId"
               asp-route-sleepId="@Model.SleepId"
               role="button">Dream Feed</a>
        </div>
    </div>
     -->
    <div class="col-4-md">
        <div class="ml-2">
            <a class="btn btn-md btn-secondary" asp-controller="Sleep" asp-action="StartIntervention" asp-route-id="@Model.SleepId" role="button">Intervention</a>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Baby" asp-action="BabyLanding" asp-route-id="@Model.BabyId">Back to Baby Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
